PORT=MY_PORT

DB_USERNAME=MY_DB_USERNAME
DB_PASSWORD=MY_DB_PASSWORD
DB_HOST=MY_DB_HOST
DB_PORT=MY_DB_PORT
DB_NAME=MY_DB_NAME

BCRYPT_SALT=MY_BCRYPT_SALT
JWT_SECRET=MY_JWT_SECRET

MAIL_HOST=MY_MAIL_HOST
MAIL_PORT=MY_MAIL_PORT
MAIL_SECURE=MY_MAIL_SECURE
MAIL_USER=MY_MAIL_USER
MAIL_PSWD=MY_MAIL_PSWD
MAIL_FROM=MY_MAIL_FROM